*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
nav{
    line-height: 70px; 
    margin: 0 auto;
    width: 100%;
    background-color: white;
    top:0;
    position: fixed;
    z-index: 1001;
}
.br-bot{
    border-bottom: grey 1px solid;
}
.fr{        
float: right;
}
.fl{
    float: left;
}
.mg-bot50{
    margin-bottom: 50px;
}

.big-container{
    width: 100%;
    height: 600px;
    background-color: royalblue;
    margin-top: 73px;
}
.medium-container{
    width: 1200px;
    margin:0 auto;
    position: relative;
    bottom: -70px;
}
.content-h1{
    font-weight: 800;
    font-size: 30px;
    
}
.mg-top80{
    margin-top: 80px;
}
.mg-bot30{
    margin-bottom: 30px;
}
.pd-right{
    padding-right: 20px;
}
.pd-left{
    padding-left: 50px;
}
.pd-top90{
    padding-top: 90px;
}
.padding-left{
    padding-left: 20px;
}
.margin-top40{
    margin-top: 40px;
}
.margin-top{
    margin-top: 20px;
}
.margin-left{
    margin-left: 20px;
}
.margin-piani{
    margin-bottom: 10px;
}
.margin{
    margin-bottom: 15px;
}
.row::after{
    display: table;
    content: "";
    clear: both;
}
.content-jumbo{
    margin-bottom: 20px;
}
.margin-p{
    margin-bottom: 5px;
}
.content-p{
    width: 40%;
}
.foto-jumbo img{
    width: 100%;
}
.foto-jumbo{
    width: 60%;
}
.fa-arrow-down{
    font-size: 30px;
    margin-top: 30px;
}
.small-container{
    width: 800px;
    margin:0 auto;
    margin-top: 80px;
}
.small-container h1{
    font-weight: 900;
}
.ib{
    display: inline-block;
}
.centramento{
    margin: 0 auto;
}
.riga{
    width: 60px;
    margin-top: 20px;
}
.ls{
    list-style: none;
}
.button-medium{
    margin-right: 20px;
    width: 70px;
    vertical-align: middle;
}
.button-large{
    margin-top: 20px;
    width: 180px;
    margin-bottom: 10px;
}
.button{
    text-decoration: none;
    background-color: blue;
    color: white;
    display: inline-block;
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: small;
}
.fs{
    font-size: 14px;
    font-weight: 500;
}
.font-size{
    font-size: 14px;
}
.box-bsn{
    width: calc(800px/3 - 30px);
    margin-right: 30px;
    margin-bottom: 50px;
}
.box-bsn img{
    width: 100%;
}
.box-bsn h3{
    font-weight: 900;
}
.link-bsn{
    font-size: 14px;
    color: rgb(19, 19, 180);
}
.height{
    height: 100%;
}
.cw{
    color: white;
}
/* -------------------------------------------------------------------- */

nav ul{
    display: inline-block;
    list-style: none;
    vertical-align: middle;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
    
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: 600;
}
nav::after{
    content: '';
    display: table;
    clear: both;
}
nav img{
    vertical-align: middle;
    margin: 0px 20px;
}



.fatturazione{
    margin-top: 30px;
}
.fatturazione-mensile{
    border: 5px solid blue;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
}

.fatturazione-annuale{
    border: 1px solid grey;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
}
.piani-pagamento{
    margin-top: 30px;
    height: 1000px;
    background-color: red;
}
.piani-left{
    width: 30%;
    height: 700px;
}
.piani-center{
    width: 40%;
    height: 700px;
    padding-right: 5%;
    padding-left: 5%;
}
.piani-right{
    width: 30%;
    height: 700px;
   
}
.row1{
    margin-top: 30px;
    width: 800px;
}
.row1::after{
    display: table;
    content: "";
    clear: both;
}
.pl,.pc,.pr{
    width: 100%;
    height: 100%;
    border: 1px solid grey;
}
.categoria1{
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid grey;
}
.categoria1::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f007";
    color: #000;
}
.padding-maggiori{
    padding: 25px 0px 10px 20px ;
}
.padding-inferiori{
    padding-left: 20px;
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: 800;
}

.durata-abbonamento{
    color: blue;
    padding-left: 20px;
    padding-bottom: 5px;
    font-size: 12px;
}
.num-utenti{
    font-size: 10px;
}
.num-utenti::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f007";
    color: #000;
}
.padding-medi{
    padding: 5px 0px 10px 20px ;
    font-size: 12px;
}
.funzioni{
    display: inline-block;
    font-size: 10px;
    padding-left: 30px;
    padding-bottom: 20px;
}
.simbolo{
    padding-left: 20px;
    font-size: 10px;
    display: inline-block;
}
.funzioni-padding{
    padding-left: 20px;
    font-size: 10px;
}
.funzioni span{
    margin-left: -12px;
}

.mark{
    font-size: 12px;
    color: blue;
    font-weight: 700;
}
.team{
    height: 40px;
    border-bottom: 1px solid grey;
    line-height: 40px;
    text-align: center;
}
.ufficio-vendite{
    width: 70%;
}
.ufficio-vendite h3{
    font-weight:bold;
    padding: 20px 0px 10px 20px ;
}
.ufficio-vendite h5{
    padding-left: 20px;
    padding-bottom: 20px;
}
.ufficio-vendite p{
    font-size: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.enterprise{
    border: 1px solid grey;
    margin-top: 30px;
}
.cta{
    width: 30%;
    padding-top: 20px;
}
.cta a{
    text-decoration: none;
    background-color: blue;
    color: white;
    display: inline-block;
    width: 230px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: small;
}
.img-ptr{
    width: 50%;
}
.img-ptr img{
    width: 100%;
}
.partner{
    margin-top: 100px;
}
.ptr-drop{
    width: 50%;
}
.ptr-h2{
    padding: 30px 0px 20px 30px;
    font-weight: bold;
}
.prt-p{
    padding-left: 30px;
    font-size: 12px;
    padding-bottom: 5px;
}
.btn-prt a{
    margin-top: 15px;
    text-decoration: none;
    background-color: white;
    color: black;
    display: inline-block;
    border: 1px solid black;
    width: 120px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: small;
    margin-bottom: 10px;
    font-size: 12px;
}
.btn-prt{
    padding-left: 30px;
}

.loghi{
    height: 400px;
}
.loghi-left{
    width: 30%;
    height: 100%;
}
.logo1,.logo2,.logo3,.logo4,.logo5,.logo6,.logo7,.logo8{
    width: 50%;
    height: 50%;
    position: relative;
}
.logo1{
    background-color: green;
    border: 7px solid rgb(59, 131, 165);
}
.logo2{
    background-color: violet;
}
.logo3{
    background-color: turquoise;
}
.logo4{
    background-color: red;
}
.logo-quadrato{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.logo-quadrato img{
    width: 100%;
    filter: invert(100%);
    
}
.designit{
    width: 40%;
    padding-left: 30px;
    padding-top: 30px;
    background-color: lightgray;
}

.designit-content img{
    width: 20%;
}
.cta-bsn{
    height: 220px;
    background-color: rgba(47, 95, 255, 0.521);
}
.container{
    height: 60%;
    width: 800px;
    margin: 0 auto;
}
.cta.lf{
    width: 60%;
}
.cta-lf h2{
    color: rgb(88, 10, 88);
    font-weight: 800;
}
.cta-rg a{
    text-decoration: none;
    background-color: white;
    color: black;
    display: inline-block;
    width: 230px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: small;
}
.freccia{
    font-weight: 700;
}

.faq{
    border-top: 1px solid grey;
    height: 80px;
    line-height: 80px;
}
footer{
    background-color: black;
    height: 400px;
    margin-top: 100px;
}
.foot{
    padding-right: 30px;
    padding-top: 80px;
    padding-left: 80px;
}
.font-size12{
    font-size: 12px;
}
.medium-container hr{
    width: 90px;
}